.LoderBox{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #323744;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    cursor: none;
    z-index: 99999999999;
    overflow: hidden;
}

.LoderBox .headBox{
    position: relative;
    background-color: black;
    width: 300px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    animation: headMove 10s infinite;
}
@keyframes headMove {
    0%,
    10%,
    12%,
    20%,
    22%,
    40%,
    42%,
    60%,
    62%,
    70%{
        height: 100px;
      }
    72%,
    90%,
    92%,
    98%,
    100%,
    11%,
    21%,
    41%,
    61%,
    71%,
    91%,
    99% {
      height: 90px;
    }
  }

.loader_box {
    position: absolute;
    width: 108px;
    display: flex;
    justify-content: space-between;
  }
  .loader_box::after,
  .loader_box::before {
    content: "";
    display: inline-block;
    width: 48px;
    height: 48px;
    background-color: aqua;
    background-image: radial-gradient(circle 14px, #0d161b 100%, transparent 0);
    background-repeat: no-repeat;
    border-radius: 50%;
    animation: eyeMove 10s infinite, blink 10s infinite;
  }
  @keyframes eyeMove {
    0%,
    10% {
      background-position: 0px 0px;
    }
    13%,
    40% {
      background-position: -15px 0px;
    }
    43%,
    70% {
      background-position: 15px 0px;
    }
    73%,
    90% {
      background-position: 0px 15px;
    }
    93%,
    100% {
      background-position: 0px 0px;
    }
  }
  @keyframes blink {
    0%,
    10%,
    12%,
    20%,
    22%,
    40%,
    42%,
    60%,
    62%,
    70%,
    72%,
    90%,
    92%,
    98%,
    100% {
      height: 48px;
    }
    11%,
    21%,
    41%,
    61%,
    71%,
    91%,
    99% {
      height: 18px;
    }
  }


.LoderBox.active{
    display: none;
}